<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Vous avez déposé la demande <b>{{advert}}</b> sur le site https://www.serviceenchere.fr et on vous remerciant.</p>
  <p>Elle sera mise en ligne dans 24 heures maximum.</p>
  <p>Votre espace client <a href="{{url('fos_user_security_login')}}" >Se connecter</a>.</p>
  <p>
    Cordialement.
  </p>
</div>
