<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Votre demande <b>{{advert}}</b> n'a pas été acceptée sur le site https://www.serviceenchere.fr</p>
  <p>Merci de revoir son contenu et le modifier</p>
  <p>Votre espace client <a href="{{url('fos_user_security_login')}}" >Se connecter</a>.</p>
  <p>
    Cordialement.
  </p>
</div>
