<div>
  <p>Bonjour <b>{{ advert.user }}</b></p>
  <p>Vous avez modifié la demande <b>{{ advert.title }}</b> sur le site https://www.serviceenchere.fr.</p>
  <p>Elle sera mise en ligne dans 24 heures maximum.</p>
  <p>Votre espace client <a href="{{url('fos_user_security_login')}}" >Se connecter</a>.</p>
</div>
