{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Liste des jobbeurs - {{ parent() }}
{% endblock %}

{% block layout_header2 %}

    <div class="row">
      <div id="header" class="col-md-12">
            <h3 class="cat-title">Liste des jobbeurs</h3>
      </div>
    </div>
{% endblock %}
{% block layout_body %}

{% endblock %}
