{% trans_default_domain 'FOSUserBundle' %}
{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mot de passe oublié ? - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title">Mot de passe oublié</h3>
    </div>
  </div>
{% endblock %}

{% block layout_body %}

    <div class="row">
        <div class="col-md-12 text-center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning" role="alert">
            {% block fos_user_content %}
            <p>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
            {% endblock fos_user_content %}
            </div>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Connexion
            </a>
        </div>
        <div class="col-md-3">
        </div>
        </div>
    </div>

{% endblock %}
