{% trans_default_domain 'FOSUserBundle' %}
{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mot de passe oublié ? - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      <h3 class="cat-title">Réinitialiser le mot de passe</h3>
  </div>
{% endblock %}

{% block layout_body %}

    <div class="row">
         <div id="content" class="col-md-12">
           <div class="col-md-1" ></div>
           <div class="col-md-4">
                <h4 class="cat-title">Réinitialiser le mot de passe</h4>
                {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
                {% block fos_user_content %}
                    {% include "@FOSUser/Resetting/request_content.html.twig" %}
                {% endblock fos_user_content %}
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">

                <h4 class="cat-title">Connexion</h4>
                <div class="form-group">
                    <a href="{{ path('fos_user_security_login') }}" class="form-control btn se-btn-action">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Retour à la connexion
                    </a>
                </div>

                <h4 class="cat-title">Vous n'avez pas de compte ?</h4>
                <div class="form-group">
                    <a href="{{ path('fos_user_registration_register') }}" class="form-control btn se-btn-action">
                        Créer un compte
                    </a>
                </div>

            </div>
            <div class="col-md-1" ></div>
        </div>
    </div>


{% endblock %}
