<div class="well well-sm well-footer">
    <div class="row text-left">
      <div class="col-md-1"></div>
        <div class="col-md-5">
            <ul class="ul-footer">
                <li><a href="{{ path('se_platform_resum') }}">Qui sommes-nous ?</a></li>
                <li>Nous contacter : <a class="" href="mailto:contact@serviceenchere.fr">contact@serviceenchere.fr</a></li>
            </ul>
        </div>
        <div class="col-md-5 col-footer">
            <ul class="ul-footer">
                <li><a href="{{ path('se_platform_cgu') }}">Conditions Générales d'Utilisation</a></li>
                <li><a href="{{ path('se_platform_help') }}">Aide</a></li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- PAGE - FOOTER - COPY -->
    <div id="footer" class="copyr">
        <footer>
            <p>Tous droits réservés. COPYRIGHT © {{ 'now'|date('Y') }} Service Enchère.</p>
        </footer>
    </div>
</div>
