<nav class="navbar navbar-inverse navbar-static-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="col-sm-4">
            <a class="btn btn-link" href="{{ path('se_platform_resum') }}"><h5>Qui sommes-nous ?</h5></a>
          </div>
          <div class="col-sm-4">
            <a class="btn btn-link" href="{{ path('se_platform_cgu') }}"><h5>Conditions Générales d'Utilisation</h5></a>
          </div>
          <div class="col-sm-4">
            <a class="btn btn-link" href="{{ path('se_platform_help') }}"><h5>Aide</h5></a>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
                <span class="label label-primary"><h5>Tous droits réservés. COPYRIGHT © {{ 'now'|date('Y') }} Service Enchère.</h5></span>
              </div>
          </div>
        </div>
      </div>
    </div>
</nav>
