{% extends "SEPlatformBundle::layout.html.twig" %}

  {% block title %}
      Aide de Service Enchère - Le fonctionnement plateforme de jobbing
  {% endblock %}
  {% block description %}
    <meta name="description" content="Le site de jobbing! Trouvez un jobber près de chez vous, déléguez vos tâches du quotidien: Bricolage Déménagement Nettoyage" />
  {% endblock %}
{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Aide</h3>
  </div>
</div>

{% endblock %}

{% block layout_body %}

      <div id="help" align="justify">
               <div>
                 <blockquote>
                   Le fonctionnement de <b>Service Enchère</b> est très simple.
                 </blockquote>
               </div>

               <p class="cat-title">Vous cherchez une aide ?</p>
                <div class="help-div">
                    <p>
                      <span class="label label-default se-badge">1</span>
                      Inscrivez vous gratuitement et postez votre demande.
                    </p>
                    <p>
                      <span class="label label-default se-badge">2</span>
                      Recevez les offres de la part des personnes de votre région.
                    </p>
                      <p>
                        <span class="label label-default se-badge">3</span>
                      Parmi les offres reçues, vous décidez et choisissez l'offre qui vous convient.
                      </p>
                      <p>
                        <span class="label label-default se-badge">4</span>
                        Après votre acceptation de l'offre la demande n'est plus en ligne, l'emporteur de l'offre reçoit une notification par mail.
                      </p>
                      <p>
                        <span class="label label-default se-badge">5</span>
                      Il ne vous reste plus qu'à le contacter pour convenir d'un rendez-vous.
                      </p>
                      <p>
                        <span class="label label-default se-badge">6</span>
                        Une fois votre demande traitée par l'emporteur, vous le réglez.
                      </p>
                      <p>
                        <span class="label label-default se-badge">7</span>
                        N'oubliez pas de donner votre avis sur la préstation.
                      </p>
                </div>
              <div class="help-div">
                  <p class="cat-title">Vous proposez vos services ?</p>
                  <p>
                    <span class="label label-default se-badge">1</span>
                    Inscrivez vous gratuitement et choisissez vos services préférés.
                  </p>
                  <p>
                    <span class="label label-default se-badge">2</span>
                    Recevez des demandes.
                  </p>
                  <p>
                    <span class="label label-default se-badge">3</span>
                    Proposez vos offres.
                  </p>
                  <p>
                    <span class="label label-default se-badge">4</span>
                    Si votre offre est acceptée, vous recevez une notification par mail.
                  </p>
                  <p>
                    <span class="label label-default se-badge">5</span>
                    Contacter le demandeur pour convenir d'un rendez-vous.
                  </p>
                  <p>
                    <span class="label label-default se-badge">6</span>
                    Après la fin de votre préstation, vous recevez un avis sur la préstation.
                  </p>
              </div>
                  <div class="alert alert-warning text-center" role="alert">
                    <p>
                    Vous ne trouvez pas la réponse à votre question dans notre centre d'aide ? Contactez-nous sur <a class="contact" href="mailto:contact@serviceenchere.fr">contact@serviceenchere.fr</a>
                    </p>
                  </div>
          </div>
{% endblock %}
