{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Aide - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Aide</h3>
  </div>
</div>

{% endblock %}

{% block layout_body %}

      <div id="help" align="justify">
               <div class="alert alert-info text-center" role="alert">
                 <p>
                   Le fonctionnement de <b>Service Enchère</b> est très simple.
                 </p>
               </div>
                <p>
                  <span class="label label-default se-badge">1</span>
                  Il suffit de vous inscrire gratuitement et attendre que les professionels vous proposent des prix pour le service demandé.
                  <p>
                    <span class="label label-default se-badge">2</span>
                  Parmi les offres reçues, vous décidez et choisissez l'offre qui vous convient.
                  </p>
                  <p>
                    <span class="label label-default se-badge">3</span>
                    Après votre acceptation de l'offre, l'emporteur de l'offre reçoit une notification par mail.
                  </p>
                  <p>
                    <span class="label label-default se-badge">4</span>
                  Il ne vous reste plus qu'à le contacter pour convenir d'un rendez-vous.
                  </p>
                  <p>
                    <span class="label label-default se-badge">5</span>
                    Une fois votre demande traitée par l'enchérisseur, vous le réglez et vous désactivez votre annonce sur le site.
                  </p>
                  <p>
                    <span class="label label-default se-badge">6</span>
                    N'oubliez pas de donner votre avis sur la préstation.
                  </p>
                  <br>
                  <div class="alert alert-warning text-center" role="alert">
                    <p>
                    Vous ne trouvez pas la réponse à votre question dans notre centre d'aide ? Contactez-nous sur <a class="contact" href="mailto:contact@serviceenchere.fr">contact@serviceenchere.fr</a>
                    </p>
                  </div>
          </div>
{% endblock %}
