{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Météo
{% endblock %}
{% block description %}
  <meta name="description" content="" />
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Météo {{zipCode}} - {{countryCode}}</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
    Heure, date, couché du soleil, levé du soleil, temp, vent, humid, 
    <div class="col-md-6">response Weather</div>
       <div class="col-md-6">
{{ responseWeather|json_encode() }}
       </div>
       <div class="col-md-6">response Forecast</div>
          <div class="col-md-6">
   {{ responseForecast|json_encode() }}
          </div>
 </div>
{% endblock %}
