{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Liste des demandes en cours - {{ parent() }}
{% endblock %}

{% block se_layout_body %}
    <div class="row">
        <div id="content" class="col-md-12">
            <h4>
                {% for cat in catgeoryLabelNormal %}
                    <a href="{{ path('se_auction_advert_list') }}">Toutes les Demandes</a>
             > {{ cat.labelNormal }}
                {% endfor %}
            </h4>
            {% for advert in listAdverts %}
                {{ include('@SEAuction/Advert/item.html.twig') }}
            {% else %}
                <div>Pas (encore !) d'demandes dans cette catégorie</div>
            {% endfor %}
        </div>
    </div>


    <hr>
{% endblock %}
