<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Votre avez annulé l'offre de <b>{{auction.value|number_format(0, ' ', ' ')}} €</b> pour la demande <b>{{advert.title}}</b></p>
  <p>La demande est remise en ligne.</p>
  <p>Votre espace client <a href="{{url('fos_user_security_login')}}" >Se connecter</a>.</p>
</div>
