<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Votre offre de <b>{{oldValue}} €</b> n'est plus la dernière.</p>
  <p>Une autre personne vient de proposer une offre sur la demande <b>{{advert}}</b> à <b>{{value|number_format(0, ' ', ' ')}} €</b></p>
  <p>
    Cordialement.
  </p>
</div>
