<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Vous avez reçu un avis pour la demande <b>{{ advert.title }}</b>.</p>
  <p>L'avis est visible dans votre page de profil.</p>
  <p>Votre espace client <a href="{{url('fos_user_security_login')}}" >Se connecter</a>.</p>
  <p>
    Cordialement.
  </p>
</div>
