#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Project
#############

var/*
vendor/friendsofsymfony/*


*.bat
app/config/parameters.yml
vendor/composer/installed.json
app/config/parameters.yml

*.jpeg
