<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Vous avez reçu un nouveau message de la part de <b>{{sender}}</b> concerant la demande <b>{{advert}}</b></p>
  <p>Le message est disponible dans votre espace client <a href="{{url('fos_user_security_login')}}" >Se connecter</a>.</p>
</div>
