<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- PAGE - TITLE -->
        <title>{% block title %}Service Enchère{% endblock %}</title>

        <!-- PAGE - FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- PAGE - CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}

        <link rel="stylesheet" href="../../css/main.css" type="text/css" />

    </head>

    <body>

    <!-- HADER - MENU -->
    {{ include('@SELayout/Default/header.html.twig') }}

    <!-- CONTAINER -->
    <div class="container">
        <!-- BODY -->
        <div class="row">
            <div id="content" class="col-md-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- PAGE - FOOTER - SERVICE -->
    {{ include('@SELayout/Default/footer.html.twig') }}

    <!-- PAGE - JS TODO -->

    {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>
    {% endblock %}
    
        <script src="../../js/france.js" ></script>
    <script src="../../js/cmap.js" ></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
    
    </body>
</html>