<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- PAGE - TITLE -->
        <title>{% block title %}Service Enchère{% endblock %}</title>

        <!-- PAGE - FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('fav.ico') }}" />

        <!-- PAGE - CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}

        <link rel="stylesheet" href="../../css/main.css" type="text/css" />

    </head>
    <body>
        <!-- HADER - MENU -->
        {{ include('@SEPlatform/Default/header.html.twig') }}

        <!-- CONTAINER -->
        {% block body %}{% endblock %}

        <div id="pathCpCity" data-path="{{ path('se_platform_postalCode' )}}">
         </div>

        <!-- PAGE - FOOTER - SERVICE -->
        {{ include('@SEPlatform/Default/footer.html.twig') }}

        <!-- PAGE - JS -->
        {% block javascripts %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="../../js/js.js" ></script>
        <script type="text/javascript" src="../../js/france.js" ></script>
        <script type="text/javascript" src="../../js/cmap.js" ></script>

        <script>
        /* PROD ENV */
        /*
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-11985657-7', 'auto');
          ga('send', 'pageview');*/
        </script>

        {% endblock %}
    </body>
</html>
