<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- PAGE - TITLE -->
        <title>{% block title %}Service Enchère{% endblock %}</title>

        <!-- PAGE - FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('fav.ico') }}" />

        <!-- PAGE - CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}

        <link rel="stylesheet" href="../../css/main.css" type="text/css" />

    </head>
    <body>

    <!-- HADER - MENU -->
    {{ include('@SELayout/Default/header.html.twig') }}

    <!-- CONTAINER -->
    {% block body %}
    {% endblock %}
            
    <!-- PAGE - FOOTER - SERVICE -->
    {{ include('@SELayout/Default/footer.html.twig') }}

    <!-- PAGE - JS TODO -->
    {% block javascripts %}
        
                    
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>
        
        <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false" />-->
    {% endblock %}
    
    <script src="../../js/js.js" ></script>
    <script src="../../js/france.js" ></script>
    <script src="../../js/cmap.js" ></script>
    
    <script type="text/javascript">
    $(function() {
        var cityLat = document.getElementById('city_lat').innerHTML;
        var cityLng = document.getElementById('city_long').innerHTML;
        console.log(city_lat.innerHTML);
      //J'utilise dans l'exemple jQuery pour améliorer la lisibilité du code, le focus étant sur GoogleMaps

      //tout d'abord on définit le centre de notre map par sa latitude et longitude, par exemple Montpellier: 
      var latLng = new google.maps.LatLng(cityLat, cityLng);
      //puis on créé la map
      var gmap = new google.maps.Map(document.getElementById('gmap-div'), {
        zoom: 11, //le zoom de départ
        center: latLng, //le centre de la map au chargement
        mapTypeId: google.maps.MapTypeId.ROADMAP, //le type de map, ROADMAP correspond à la version par défaut des versions précédentes
        streetViewControl: false, //si on souhaite désactiver les contrôle StreetView
        panControl: false //si on souhaite masquer les contrôles de déplacement
      });
              
              var image = {
                // Adresse de l'icône personnalisée
                url: '../uploads/img/maps/map-localization-4.png',
                // Taille de l'icône personnalisée
                size: new google.maps.Size(25, 40),
                // Origine de l'image, souvent (0, 0)
                origin: new google.maps.Point(0,0),
                // L'ancre de l'image. Correspond au point de l'image que l'on raccroche à la carte. Par exemple, si votre îcone est un drapeau, cela correspond à son mâts
                anchor: new google.maps.Point(0, 20)
        };

      new google.maps.Marker({
                position:  latLng,
                map:       gmap,
                icon: image
              });
              
    });	
    
    </script>

    </body>
</html>