
    <form id="form_recherche" action="" method="get">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 filter">
                      <select class="form-control" name="auctionState">
                          <option value='0' >Tous les états</option>
                          {% for state in auctionState %}
                              <option {{ app.request.query.get('auctionState')== state.id ? ' selected ' : ' ' }}
                                  value={{ state.id }}>{{ state.labelNormal }}
                              </option>
                          {% endfor %}
                      </select>
                </div>
                <div class="col-md-4 filter">
                    <input class="btn btn-lg-se btn-primary" type="submit" value="Afficher"  />
                </div>
                <div class="col-md-4 filter">
                  <a href="{{ path('se_platform_admin_list_auctions') }}"
                            type="button" class="btn btn-lg-se btn-primary" >
                             Réinitialiser
                  </a>
                </div>
              </div>
        </div>
    </form>
