{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Liste des Avis - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title-admin">Liste des Avis</h3>
        {{ include('@SEPlatform/Admin/listCommentFilter.html.twig') }}
    </div>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         <h4 class="cat-title">titleResult</h4>
            <table class="table" id="tblGrid">
                <tbody>
              TODO
                </tbody>
            </table>
       </div>
   </div>

   <div class="row">
       <div class="col-md-12 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_admin_list_comments', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
   </div>

{% endblock %}
