<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- MAIL - TITLE -->
     <title>Top Artisan</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
	    .body{
		    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
		    width: 100%;
		    margin-bottom: 0;
  			border: 0;
  			border-radius: 0;
  			padding-bottom: 0;

	    }
    	.header{
		    background-color: #2A0540;
  			color: #fff;
  			font-size: 30px;
  		  line-height: 15px;
  		  letter-spacing: 2px;
        line-height:35px;
  		  font-weight: 200;
  		  padding-bottom: 30px;
  		  text-align: center;
  		  padding-top:5px;

		}
		.content{
			   padding-top:10px;
		    background-color: #gray;
		    padding-left: 10px;
		    padding-bottom: 10px;
			     color: #2A0540;
			}

		.footer{
		    padding-top:10px;
		    background-color: #gray;
		    padding-left: 10px;
		    padding-bottom: 10px;
			  color: #2A0540;
		}
		.btn-primary {
			    color: #fff;
			    background-color: #428bca;
			    border-color: #357ebd;
			}
      .form-group {
      margin-bottom: 15px;
  }
			.btn {
			    display: inline-block;
			    padding: 6px 12px;
			    margin-bottom: 0;
			    font-size: 14px;
			    font-weight: 400;
			    line-height: 1.42857143;
			    text-align: center;
			    white-space: nowrap;
			    vertical-align: middle;
			    cursor: pointer;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    background-image: none;
			    border: 1px solid transparent;
			    border-radius: 4px;
			    text-decoration: none;
			}

      </style>
  </head>
  <body>
	<div class="body">
		<div class="header">
			<p>Top Artisan</p>
			<p>Vous proposez vos services ? </p>
		</div>
		<div class="content">
			<p>Bonjour {{PotentialUser.name}}</p>

      <p>Profitez des avantages du site <a href="https://www.topartisan.fr" >Top Artisan : </a>

			<h4>Vous proposez vos services ? </h4>

			<p> <b>1.</b> une <u>seule</u> page de profil détaillant votre activité (ne créez plus d'annonces qui durent 2 mois maximum.)</p>
			<p> <b>2.</b> si vous le souhaitez, votre profil figurera dans la page de la liste des artisans.</p>
			<p> <b>3.</b> la recherche dans la page des profils (artisans) est par zone géographique et services.</p>
			<p> <b>4.</b> trouvez facilement le service demandé de votre région.</p>
			<p> <b>5.</b> le site est entièrement gratuit.</p>
<br>
      <p> Vous n'avez rien à payer sur le site, le paiement des services et prestation se fait de main à main.</p>
<br>

    <div class="form-group">
          <a style="color: #fff" class="btn btn-primary" href="https://www.topartisan.fr/register" >Je me lance et je crée mon profil</a>
    </div>
    <div class="form-group">
        <a style="color: #fff" class="btn btn-primary" href="https://www.topartisan.fr/annuaire-artisans" >Liste des artisans</a>
    </div>


		</div>
		<div class="footer">
			<span>L'équipe Top Artisan</span><br>
			 <span><a href="https://www.topartisan.fr" >www.topartisan.fr</a></span><br>
			 <small>Le meilleur artisan au meilleur prix !</small>
		</div>
	</div>



  </body>
</html>
