{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Envoi de mails - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title-admin">Envoi de mails</h3>
    </div>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         <div class="btn-group btn-group-justified" role="group" aria-label="...">
           <div class="btn-group" role="group">
             <a type="button" class="btn btn-primary" href="{{ path('se_platform_admin_mailing') }}">Non inscrit</a>
           </div>
           <div class="btn-group" role="group">
             <button type="button" class="btn btn-default">Non actif</button>
           </div>
           <div class="btn-group" role="group">
             <button type="button" class="btn btn-default">Non complet</button>
           </div>
         </div>

          <form id="form_send_message" action="" method="get">
                  <div id="mailing_message">
                    <div class="form-group">
                      <input type="text"
                              id="email_receiver"
                              name="_email_receiver"
                              required="required"
                              placeholder="Liste d'adresse mail"
                              class="form-control">
                      </input>
                    </div>
                    <div class="form-group">
                      <input class="btn btn-primary" type="submit" value="Envoyer"  />
                    </div>
                  </div>
            </form>
        </div>

       </div>


{% endblock %}
