<div class='col-md-12'>
    <div class='panel panel-default'>
        <div class='panel-heading se-panel-heading'>
            <h4 class='panel-title text-left'>{{ item }}
                {{ include('@SEPlatform/User/rate.html.twig', {'item': item }) }}
            </h4>
            <h4 class='panel-title text-right'><i>date</i></h4>
        </div>
        <div class='panel-body'>
            <div class="caption">
                <p>content</p>
            </div>

        </div>
    </div>
</div>
