{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes cmomentaires - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      <h3 class="cat-title">Filter</h3>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         Mes commentaires
       </div>
   </div>
{% endblock %}
