{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Tableau de bord - {{ parent() }}
{% endblock %}

{% block se_layout_body %}


<div class="row">
    <div class="col-md-4">
        <h4 class="cat-title text-center">
            <a class="title-link" href="{{ path('fos_user_profile_show') }}" >
                Mon compte
            </a>
        </h4>

    </div>
    <div class="col-md-4">
        <h4 class="cat-title text-center">
            <a class="title-link" href="{{ path('se_layout_homepage') }}">Mes Annonces</a>
        </h4>
    </div>
    <div class="col-md-4">
        <h4 class="cat-title text-center">
            <a class="title-link" href="{{ path('se_layout_homepage') }}">Mon Enchères</a>
        </h4>
    </div>
</div>


    <div class="index-container" >
        <div class="row">
            {% block se_dashboard %}

            {% endblock se_dashboard %}
        </div>
    </div>

{% endblock %}