{% extends "SEPlatformBundle::domo-layout.html.twig" %}


{% block domo_body %}
    <div class="row">
      <div class="col-md-12">
            Camera {{ camera_id }}
      </div>
    </div>
{% endblock %}
