{% trans_default_domain 'FOSUserBundle' %}
{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Se connecter - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Se connecter</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}

    <div id="login" class="row">
         <div class="col-md-12">
             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
             <div class="col-md-3"></div>
             <div class="col-md-6">
                   <div class="alert alert-info text-center" role="alert">
                   </p>Vous êtes déjà connecté !!</p>
                   <p>Si vous n'êtes pas {{app.user}}, <a href="{{path('fos_user_security_logout')}}">déconnectez vous.</a></p>
                   </div>
               </div>
               <div class="col-md-3"></div>
            {% else %}

               <div class="col-md-3" ></div>
                  <div class="col-md-6">
                    {% block fos_user_content %}
                        {{ include('@FOSUser/Security/login_content.html.twig') }}
                    {% endblock fos_user_content %}
              </div>
              <div class="col-md-3" ></div>
            {% endif %}
         </div>
     </div>
{% endblock %}
