
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            {% if nbPages > 1 %}
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('se_auction_advert_list', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
        