{% extends "::domo-base.html.twig" %}

{% block body %}
  <div class="well domo-well">
      <div class="domo-index-container" >
        <div class="row">
          <div class="col-md-12">
                  {% block domo_body %}{% endblock %}
            </div>
        </div>
      </div>
  </div>
{% endblock %}
