{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

  <div class="well slogan-well">
      <div class="panel-body">
      {% block layout_header2 %}
      {% endblock %}
    </div>
  </div>

  <div class="well se-well">
      <div class="index-container" >

            {% block layout_body %}

            {% endblock %}
      </div>
  </div>

{% endblock %}
