{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Envoyez un message - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

   
        <h4 class="cat-title">Déposer une annonce</h4>
         <div class="col-sm-6 col-md-4">
                  {{ include('SEAuctionBundle:Message:form.html.twig') }}
            </div>
    

{% endblock %}

