{% trans_default_domain 'FOSUserBundle' %}
{% extends 'SEUserBundle::layout.html.twig' %}

{% block title %}
    Vérification d'adresse mail - {{ parent() }}
{% endblock %}

{% block se_user %}

    <div class="well slogan-well">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="cat-title">Vérification d'adresse mail</h3>
                </div>
            </div>
        </div>
    </div>
        <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                  <div class="col-md-12 text-center">
                        <div class="alert alert-warning" role="alert">
                       {% block fos_user_content %}
                           <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                       {% endblock fos_user_content %}
                         </div>
                    </div>
            </div>
        </div>
    </div>
   


{% endblock %}
