

/*****************************/
/*        weather style     */
/*****************************/
/*

#00aae1 Bleu turquoise
#767472 Gris off
#393634 Gris Arr plan
#8d8d8d Gris Controur

*/

html, body{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2{
    margin-bottom: 10px;
    color: #fff;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
.margin-t{
  margin-top: 30px;
}

.weather-desc{
  font-size: 22px;
  padding-top: 36px;
}
.temp{
  font-size: 50px;
padding-top: 32px;
}
.cont{
  padding: 10px 30px 0px 30px;
  margin-bottom: 5px;
  color: inherit;
  background-color: rgba(195, 153, 153, 0.3);
  border-radius: 15px;
}
.domo-well{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 20px;
    min-height: 1024px;
    min-width: 1024px;
    background: url("domo/img/dashboard-landscape@3x.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
}

.domo-index-container{
    padding: 0 19px;
    min-height: 460px;
    height: auto;
}

.domo-index-container .row{
  margin: auto;
}

.cercle-icon-ext{
  width: 70px;
  height: 70px;
  margin: 10px;
  text-align: center;
  border-radius: 50px;
  line-height: 59px;
  padding-top: 0px;
  float: left;
  margin-bottom: 30px;
}
.gray
{
  background:   #8d8d8d;
}

.blue {
  background: #00aae1;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}

.cercle-icon {
  width: 60px;
  height: 60px;
  background: #393634;
  margin: 5px;
  text-align: center;
  border-radius: 50px;
  line-height: 65px;
  padding-top: 15px;
  float: left;
}

.sensor-icon, .light-icon{
  background-size: contain;
  height: 30px;
  width: 30px;
  display: block;
  margin: auto;
}

.img-temperature{
  background-image: url("domo/icons/sensors/temperature.svg");
}

.img-temperatureIndoor{
  background-image: url("domo/icons/sensors/weather-station/temperatureIndoor.svg");
}

.img-humidity{
  background-image: url("domo/icons/sensors/humidity.svg");
}

.img-wind{
  background-image: url("domo/icons/sensors/wind.svg");
}

.img-no-rain{
  background-image: url("domo/icons/sensors/no-rain.svg");
}

.img-rain{
  background-image: url("domo/icons/sensors/rain.svg");
}

.img-pressure
{
  background-image: url("domo/icons/sensors/weather-station/pressure.svg");
}

.img-light-dark
{
  background-image: url("domo/icons/light-normal/light-dark.svg");
}

.img-light-white
{
  background-image: url("domo/icons/light-normal/light-white.svg");
}

.img-camera
{
  background-image: url("domo/icons/camera/camera.svg");
}

.img-camera-grey
{
  background-image: url("domo/icons/camera/camera-grey.svg");
}

.sun-icon{
      background-size: contain;
      height: 50px;
      width: 50px;
      display: inline-block;
}

.img-sunset
{
  background-image: url("domo/icons/dashboard/sunset.svg");
}

.img-sunrise
{
  background-image: url("domo/icons/dashboard/sunrise.svg");
}


.weather-city{
  float: left;
    margin: 20px;
    font-size: 32px;
}
.weather-icon{
      background-size: contain;
      height: 140px;
      width: 140px;
      display: inline-block;
      margin-bottom: 15px;
}

/* clear sky = ciel clair */
 .img-01d{
    /*background-image: url("domo/icons/openweathermap/01d.png");
    background-image: url("domo/icons/sensors/weather-station/sun.svg");*/
    background-image: url("domo/icons/weather/soleil.svg");
}

.img-01n{
   /*background-image: url("domo/icons/openweathermap/01n.png");*/
   background-image: url("domo/icons/weather/lune.svg");
}

/* few clouds = quelques nuages*/
.img-02d{
   /*background-image: url("domo/icons/openweathermap/02d.png");*/
   background-image: url("domo/icons/weather/nuage-soleil.svg");
}

.img-02n{
  /*background-image: url("domo/icons/openweathermap/02n.png");*/
  background-image: url("domo/icons/weather/nuage-lune.svg");
}

/* scattered clouds = nuages ​​dispersés */
.img-03d{
   /*background-image: url("domo/icons/openweathermap/03d.png");*/
   background-image: url("domo/icons/weather/nuage.svg");
}

.img-03n{
  /*background-image: url("domo/icons/openweathermap/03n.png");*/
   background-image: url("domo/icons/weather/nuage.svg");
}

/* broken clouds = nuages ​​brisés */
.img-04d{
   /*background-image: url("domo/icons/openweathermap/04d.png");*/
    background-image: url("domo/icons/weather/nuage-2.svg");
}

.img-04n{
  /*background-image: url("domo/icons/openweathermap/04n.png");*/
  background-image: url("domo/icons/weather/nuage-2.svg");
}

/* shower rain = douche pluie*/
.img-09d{
   /*background-image: url("domo/icons/openweathermap/09d.png");*/
   background-image: url("domo/icons/weather/pluie-3.svg");
}

.img-09n{
  /*background-image: url("domo/icons/openweathermap/09n.png");*/
  background-image: url("domo/icons/weather/pluie-3.svg");
}

/* rain = pluie */
.img-10d{
   /*background-image: url("domo/icons/openweathermap/10d.png");*/
     background-image: url("domo/icons/weather/pluie-1.svg");
}

.img-10n{
  /*background-image: url("domo/icons/openweathermap/10n.png");*/
     background-image: url("domo/icons/weather/pluie-1.svg");
}

/* thunderstorm = orage */
.img-11d{
   /*background-image: url("domo/icons/openweathermap/11d.png");*/
        background-image: url("domo/icons/weather/nuage-3-eclaire.svg");
}

.img-11n{
  /*background-image: url("domo/icons/openweathermap/11n.png");*/
       background-image: url("domo/icons/weather/nuage-3-eclaire.svg");
}

/* snow = neige */
.img-13d{
   background-image: url("domo/icons/weather/neige-3.svg");
}

.img-13n{
  background-image: url("domo/icons/weather/neige-3.svg");
}

/* mist = brouillard */
.img-50d{
   background-image: url("domo/icons/weather/brouillard.svg");
}

.img-50n{
  background-image: url("domo/icons/weather/brouillard.svg");
}
