/* ALL */

/* #B20942 rouge/rose */
/* #B2A512 -> vert/jaune */
/* #007F6A -> vert/bleu */

/* #2A0540 -> violet */
/* #E5DF16 -> jaune fluo */

html, body{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HEADER 1 */
.se-header{
    z-index: 100;
    width: 100%;
    background: #fff;   
    padding-left: 50px;
    padding-right: 50px;
}

.se-header .logo{
        margin-top: -5px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #2A0540;
    font-weight: bold;
}
.logo_img{
    padding-right: 10px;
    vertical-align: text-top;
}
.se-header .logo:hover{
    color: #2A0540;
    text-decoration:none;
}

.navbar{
    margin-bottom:0;
    border:0;
}

.navbar-nav>li {
    padding-left: 10px;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
    border-color:#fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    border-color:#fff;
    background-color: #2A0540;

}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
    border-color:#fff;
    background-color: #2A0540;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a, a.contact
{
    color: #2A0540;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover
{
    border-color: #fff;
    background-color: #2A0540;
    color: #FFF;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus{
    background-color:#fff;
    color:#2A0540;
}


/* FOOTER */

.well-footer>div>div>ul>li>a:hover
{
    text-decoration: underline;   
}

.well-footer{
    background-color: #2A0540;
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding-left: 100px;
    padding-right: 100px
}

.well-footer .row{
    padding-left: 100px;
    color: #fff;
}

.well-footer>div>div>ul>li>a{
    color: #FFF;
}
.well-footer>div>div>h5
{
    color: #FFF;
    font-weight: bold;
}

.ul-footer{
    list-style: none;
    margin-left: -20px;
}

.copyr{
    margin-top: 20px;
    padding-top: 14px;
    border-top: 2px solid #E5DF16;
    text-align: center;
}

/* Slogan */
.slogan-well{
    background-color: #2A0540;
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
}

.modal-header{
    background-color: #2A0540;
    color: #fff;
}
.table>thead>tr>th{
    border-bottom: 2px solid #2A0540;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
    border-top: 1px solid #ddd;
}

.se-well{
    background-color: #fff;
    width: 100%;
    border:0;
}

.seprate-white{
    height: 20px;
}

.ul-cat{
    list-style: none;
    margin-left: -35px;
}

li.hd-icon{
    width: 100px;
    text-align: center;
}

/* HEADER 2 */
.slogan{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 48px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
    font-weight: 300 !important;
}

.slogan >p{
    margin-bottom: 2px;
}

.se-badge{
    background-color: #E5DF16;
    color: #2A0540;
}
.se-price-badge{
    background-color: #E5DF16;
    color: #2A0540;
    font-size: 18px;
}
.se-price-badge:hover{
    text-decoration: none;
}
a.slogan-link,
p.slogan-link,
h3.slogan-link{
    color: #E5DF16;
}

h2{
    margin-bottom: 10px;
    color: #2A0540;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}

a.slogan-link:hover,
a.slogan-link:focus,
p.slogan-link:hover,
p.slogan-link:focus,
h3.slogan-link:hover,
h3.slogan-link:focus{
    color: #E5DF16;
    text-decoration: underline;
    cursor: pointer;
}

.cat-title{
    border-bottom: 2px solid #E5DF16;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h4.cat-title{
    border-bottom: 2px solid #2A0540;
    color: #2A0540;
}

a.cat-link{
    color: #484848;
}

a.item-link, a.item-link:hover{
    text-decoration: none;
    
}

a.title-link{
    color: #484848;
}

a.title-link:hover,
a.title-link:focus{
    color: #484848;
    text-decoration: none;
}

.desactive, .desactive>a{
    color: #9B9B9B;
}

.desactive{
    border-bottom: 2px solid #9B9B9B;
}



/* CONTENT */
.container{
    min-width: 1170px;
    min-height: 714px;
}

.container .row{
   
    padding-bottom: 5px;
}

.row .filter{
    margin-bottom: 5px;
}

.index-container{
    padding: 0 19px;
    min-height: 460px;
    height: auto;
    
}

/* General Demo Style */
#tip {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    height: 30px;
    font-weight: bold;
}
/*
.btn-primary{
    color:#fff;
    background-color:#007F6A;
    border-color:#007F6A
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover{
    color:#fff;
    background-color:#007F6A;
    border-color:#007F6A
}*/

.panel-body>img.viewImage, .panel-body a>img.viewImage
{
    height: 450px;
    width: 100%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.textarea {
    height: 200px;
    margin: 0;
    padding: 10px;
    padding: 1rem;
    line-height: normal;
}

.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E5DF16;
  margin-top: 0px;
  margin-bottom: 2px;
}

.advert-title{
    color: #007F6A;
}

.btnIcon{
    width: 60px;
}

.btnIcon-search{
     width: 100%;
     background-color: #E5DF16;
     color: #2A0540;
     border:1px solid #E5DF16;
}

.se-btn-action{
     background-color: #E5DF16;
     color: #2A0540;
     border:1px solid #E5DF16;
}

.btnIcon-search:hover, 
.btnIcon-search:active,
.btnIcon-search:focus{
    background-color: #E5DF16;
     color: #484848;
     border:1px solid #E5DF16;
}

.cadre{
    border: 2px solid #484848;
}

.cadre:hover{
    border: 2px solid #007F6A;
}

.se-img{
    width: 200px; height: 150px;
}

.nocadre{
    border:0px;
}

.price{
 background-color: #007F6A;
 font-weight: bold;
 color:#fff;
 padding-bottom: 2px;
    padding-top: 2px;
}

.price>h4{
        line-height: 30px;
}


.rate-success{
    color:#5cb85c;
}
.rate-warning{
    color: #f0ad4e;
}

.rate-danger{
    color: #d9534f;
}

.modal-dialog{
    width: 70%;
}

.pagination>li>a, 
.pagination>li>span{
    border: 1px solid #2A0540;
    color: #2A0540;
}


.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus,
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus{
    background-color: #2A0540;
    border: 1px solid #2A0540;
    color: #E5DF16;
    font-weight: bold;
}

.se-price{
    color: #E5DF16;
    font-size: 25px;
    margin-bottom: 0;
}


.se-panel-footer{
    color: #fff;
   background-color: #474747;
}

.se-nb-auction{
    margin-bottom: -20px;
    width: 40%;
    color: #E5DF16;
    font-weight: bold;
    cursor: pointer;
}

.panel-default {
    border-color: rgba(42, 5, 64, 0.42);
}

.se-item-link{
    color:#484848;
}

.google-carte{
    margin-top: 20px;
    width: 570px;
    height: 400px;
    position: relative;
    overflow: hidden;
}