/* ALL */

/* #B20942 rouge/rose */
/* #B2A512 -> vert/jaune */
/* #007F6A -> vert/bleu */

/* #2A0540 -> violet */
/* #E5DF16 -> jaune fluo */

html, body{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* HEADER 1 */
.se-header{
    z-index: 100;
    width: 100%;
    background: #fff;
    padding-left: 80px;
    padding-right: 80px;
}

.se-header .logo{
    margin-top: -10px;
}
.logo_img{
  width: 220px;
  height: 60px;
  background-size: 220px 60px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url(img/BT-01.jpg);
}

.label{
  font-size: 85%;
}
.array-item, .underline{
  border-bottom: 2px solid #5BC0DE;
  padding-bottom: 2px;
}
.navbar{
    margin-bottom:0;
    border:0;
    min-height: 65px;
}

.navbar-nav>li {
    padding-left: 10px;
}
.navbar-default .navbar-toggle .icon-bar
{
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    border-color:#fff;
    background-color: #2A0540;

}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
    border-color:#fff;
    background-color: #2A0540;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a, a.contact
{
    color: #2A0540;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover
{
  border-color: #fff; */
  color: #2A0540;
  text-decoration: underline;
}
.navbar-nav .dropdown-menu .caret {
 transform: rotate(-90deg);
   }
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus{
    background-color:#fff;
    color:#2A0540;
}


/* FOOTER */

.well-footer>div>div>ul>li>a:hover
{
    text-decoration: underline;
}

.well-footer{
    background-color: #2A0540;
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding-left: 100px;
    padding-right: 100px
}

.well-footer .row{
    padding-left: 100px;
    color: #fff;
}

.well-footer>div>div>ul>li>a{
    color: #FFF;
}
.well-footer>div>div>h5
{
    color: #FFF;
    font-weight: bold;
}

.ul-footer{
    list-style: none;
    margin-left: -20px;
}

.copyr{
    margin-top: 20px;
    padding-top: 14px;
    border-top: 2px solid #E5DF16;
    text-align: center;
}

/* Slogan */
.slogan-well{
    background-color: #2A0540;
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0;
}

.se-well{
    background-color: #fff;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    min-height: 800px;
}

.modal-header{
    background-color: #2A0540;
    color: #fff;
}
.table>thead>tr>th{
    border-bottom: 2px solid #2A0540;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    border-top: 1px solid #ddd;
    vertical-align: middle;
}

.seprate-white{
    height: 20px;
}

.ul-cat{
    list-style: none;
    margin-left: -35px;
}

li.hd-icon{
    width: 100px;
    text-align: center;
}

/* HEADER 2 */
.slogan{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 35px !important;
  line-height: 10px !important;
  letter-spacing: 5px !important;
  font-weight: 400 !important;
  padding-bottom: 55px;
  text-align: center;
}

.slogan >p{
    margin-bottom: 2px;
}

.se-badge{
    background-color: #E5DF16;
    color: #2A0540;
}

.auction-nb>tr>th>h5{
      margin-bottom: 32px;
}

.user-about{
      height: 150px;
      overflow: auto;
}

.profile>h4{
  color: #2A0540;
}

.se-badge-auction{
    font-size: 20px;
}

.se-price-badge{
    background-color: #2A0540;
    color: #E5DF16;
    font-size: 26px;
}
.little{
    font-size: 18px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #E5DF16;
    border-color: #b2ae33;
}

.pad-price{
  padding-top: 40px;
  padding-bottom: 40px;
}
.pad-msg{
  padding: 15px;
}
.se-price-badge:hover{
    text-decoration: none;
}
a.slogan-link,
p.slogan-link,
h3.slogan-link{
    color: #E5DF16;
}
h3{
  margin-top: -15px;
}
h2{
    margin-bottom: 10px;
    color: #2A0540;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}

a.slogan-link:hover,
a.slogan-link:focus,
p.slogan-link:hover,
p.slogan-link:focus,
h3.slogan-link:hover,
h3.slogan-link:focus{
    color: #E5DF16;
    text-decoration: underline;
    cursor: pointer;
}

.wk-text-center{
  text-align: -webkit-center;
}
.profile-title{
    width: 15%;
}
.cat-title, .profile-title{
  border-bottom: 2px solid #E5DF16;
}
.cat-title-admin{
  border-bottom: 2px solid #B20942;
}
.cat-title, .cat-title-admin, .profile-title{

    padding-bottom: 5px;
    margin-bottom: 20px;
}

.ad-title{
  border-bottom: 2px solid #2A0540;
  color:#2A0540;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

p.cat-title, p.cat-title-admin, p.profile-title{
    font-size: 18px;
}
.cat-title>a, .cat-title-admin>a, .profile-title>a{
    color: #E5DF16;
}

h4.cat-title, h4.cat-title-admin, h4.profile-title{
    border-bottom: 2px solid #2A0540;
    color: #2A0540;
}

a.cat-link{
    color: #484848;
    cursor: pointer;
}

a.item-link, a.item-link:hover{
    text-decoration: none;

}

a.title-link{
    color: #484848;
}

a.title-link:hover,
a.title-link:focus{
    color: #484848;
    text-decoration: none;
}

.desactive, .desactive>a{
    color: #9B9B9B;
}

.desactive{
    border-bottom: 2px solid #9B9B9B;
}



/* CONTENT */
.container{
    min-width: 1170px;
    min-height: 714px;
}

.container .row{

    padding-bottom: 5px;
}

.row .filter{
    margin-bottom: 5px;
}

.index-container{
    padding: 0 19px;
    min-height: 460px;
    height: auto;

}

/* General Demo Style */
#tip {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    height: 30px;
    font-weight: bold;
}
/*
.btn-primary{
    color:#fff;
    background-color:#007F6A;
    border-color:#007F6A
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover{
    color:#fff;
    background-color:#007F6A;
    border-color:#007F6A
}*/

.panel-body>img.viewImage, .panel-body a>img.viewImage
{
    height: 450px;
    width: 100%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.textarea {
    height: 200px;
    margin: 0;
    padding: 10px;
    padding: 1rem;
    line-height: normal;
}
#fos_user_profile_form_detail{
height: 180px;
}

textarea.form-control{
    height: 100px;
}

.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #E5DF16;
  margin-top: 0px;
  margin-bottom: 2px;
}

.advert-title{
    color: #007F6A;
}

.btnIcon{
    width: 60px;
}

.btnIcon-search{
     width: 100%;
     background-color: #E5DF16;
     color: #2A0540;
     border:1px solid #E5DF16;
}

.se-btn-action{
     background-color: #E5DF16;
     color: #2A0540;
     border:1px solid #E5DF16;
}

.btnIcon-search:hover,
.btnIcon-search:active,
.btnIcon-search:focus{
    background-color: #E5DF16;
     color: #484848;
     border:1px solid #E5DF16;
}

.cadre{
    border: 2px solid #484848;
}

.cadre:hover{
    border: 2px solid #007F6A;
}

.se-img{
    width: 350px; height: 250px;
}
.se-auction-img{
    width: 100px; height: 75px;
}
.nocadre{
    border:0px;
}

.price{
 background-color: #007F6A;
 font-weight: bold;
 color:#fff;
 padding-bottom: 2px;
    padding-top: 2px;
}

.price>h4{
        line-height: 30px;
}


.rate-success{
    color:#5cb85c;
    font-size: 20px;
}
.rate-none{
    font-size: 20px;
}
.rate-warning{
    color: #f0ad4e;
}

.rate-danger{
    color: #d9534f;
}

.modal-dialog{
    width: 70%;
}

.pagination>li>a,
.pagination>li>span{
    border: 1px solid #2A0540;
    color: #2A0540;
}


.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus{
    background-color: #2A0540;
    border: 1px solid #2A0540;
    color: #E5DF16;
    font-weight: bold;
}

.se-price{
    color: #E5DF16;
    font-size: 25px;
    margin-bottom: 0;
}


.se-panel-footer,
.panel-default>.se-panel-heading{
   color: #fff;
   background-color: #2A0540;
}
.se-panel-heading> h3{
    font-weight: bold;
}
.se-nb-auction{
    margin-bottom: -20px;
    width: 40%;
    color: #E5DF16;
    font-weight: bold;
    cursor: pointer;
}

.panel-default {
    border-color: #2A0540;
}
.detail-footer{
  height: 70px;

      padding-top: 18px;
}
.detail-body{
   height: 350px;
}
.ad-date{
  margin-left: 10px;
}

.panel-primary{
    border-color: 0;
}
.se-item-link{
    color:#484848;
}

.google-carte{
    margin-top: 20px;
    width: 570px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.se-profile-title{
    font-weight: bold;
}

.se-profile-value{
    padding-left: 0px;
}

.mar-lef{
    padding-left: 30px;
}

.se-profile-badge{
    background-color: #E5DF16;
    color: #2A0540;
    margin-right: 5px;
}

.se-profile-panel{
    border: 0;
}
.se-auction-detail{
    margin-left: 80px;
    margin-bottom: 50px;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
  .ui-menu-item a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

  }

a.ui-corner-all .ui-state-hover,
a.ui-corner-all .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
  .ui-menu-item{
        margin-left: 10px;
  }

  .se-profile-value table th{

    padding-right: 5px;

  }
  .se-flash-msg{
      position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 50px;
  }
  .opac{
      opacity: 0.5;
  }
 .se-tbl-head
  {
          color: #E5DF16;
    background-color: #474747;
  }

.not-active {
   pointer-events: none;
   cursor: default;
   color: rgba(72, 72, 72, 0.43);
}

a.se-tbl-link{
    color: #484848;
    font-weight: bold;
    text-decoration: underline;
}
.lrg{
    width: 100%;
}

.med{
    width: 50%;
}
a.thumbnail{
  margin-bottom: 0;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #26003E;
}
#se_auctionbundle_message div>textarea.form-control{
    height: 100px;
}

/* Iphone 6 */
@media only screen and (min-width : 375px) and (max-width : 667px) {
  svg{
    width: 230px;
    height: 230px;
  }

  .navbar{
      min-height: 55px;
  }

  .logo_img{
    width: 43px;
    height: 40px;
    background-size: 170px 40px;
    margin-top: 5px;
  }

  .slogan{
    font-size: 16px !important;
    line-height: 16px !important;
    letter-spacing: 5px !important;
    font-weight: 500 !important;
    padding-bottom: 20px;
  }

  p.cat-title, p.cat-title-admin, p.profile-title {
    font-size: 13px;
  }
  .cat-title, .cat-title-admin, .profile-title {
    padding-bottom: 1px;
    margin-bottom: 15px;
  }
  h5, .h5 {
      font-size: 10px;
      word-spacing: 3px;
  }
  .well-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .well-footer>div>div>ul>li>a {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
}
