<div>
  <p>Bonjour,</p>
  <p>La puissance de votre profil</p>
  <p>Il suffit que la bonne personne consulte votre page de profil</p>
  <p>Votre espace client <a href="{{url('fos_user_registration_register')}}" >Créer un compte</a>.</p>
</div>
