{% trans_default_domain 'FOSUserBundle' %}
{% extends 'SEUserBundle::layout.html.twig' %}

{% block title %}
    Vérification d'adresse mail - {{ parent() }}
{% endblock %}

{% block se_user %}

    <div class="col-md-12 text-center">
        <div class="alert alert-danger" role="alert">
       {% block fos_user_content %}
           <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
       {% endblock fos_user_content %}
         </div>
    </div>


{% endblock %}
