{% extends 'SEUserBundle::layout.html.twig' %}

{% block title %}
    Mot de passe oublié ? - {{ parent() }}
{% endblock %}

{% block se_user %}

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        {% block fos_user_content %}
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        {% endblock fos_user_content %}
    </div>
    <div class="col-md-4">
    </div>


{% endblock %}
