{% trans_default_domain 'FOSUserBundle' %}
{% extends 'SEUserBundle::layout.html.twig' %}

{% block title %}
    Créer un compte - {{ parent() }}
{% endblock %}

{% block se_user %}
    <div class="col-md-6">
        <h4 class="cat-title">Créer un compte</h4>

        {% block fos_user_content %}
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        {% endblock fos_user_content %}

    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h4 class="cat-title">Se connecter</h4>
        <div class="form-group">
            <a href="{{ path('fos_user_security_login') }}" class="form-control btn btn-primary">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la connexion
            </a>
        </div>

        <h4 class="cat-title">Mot de passe oublié ?</h4>
        <div class="form-group">
            <a href="{{ path('fos_user_resetting_request') }}" class="form-control btn btn-primary">
                Réinitialiser le mot de passe
            </a>
        </div>
    </div>

{% endblock %}