{% extends 'SEPlatformBundle::viewLayout.html.twig' %}

{% block view_advert_auction %}
<div class="rating-block">
        {% if app.user.isAcountComplete == 0 %}
            <div class="alert alert-warning" role="alert">
                Pour pouvoir envoyer un message, merci de compléter votre profil, <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
            </div>
        {% else %}
                 {{ include('SEPlatformBundle:Message:form.html.twig') }}
                 <hr>
                 <div class="form-group">
                    <a href="{{ path('se_platform_auction_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}"
                    class="btn btn-default btn-md btn-block" >
                        Faire une offre
                    </a>
                </div>
         {% endif %}
  </div>
{% endblock %}
