<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- MAIL - TITLE -->
     <title>Service Enchère</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <div class="jumbotron">
      <h3>Bonjour {{ user }}</h3>
      <p>Vous avez reçu un nouveau message concerant l'annonce <b>{{advert}}</b></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Voir le message</a></p>
    </div>

  </body>
</html>
