{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer un message pour la demande {{advert.title}}
{% endblock %}
{% block description %}
  <meta name="description" content="Suppression de la messagerie pour mes demandes de jobbing." />
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Supprimer un message</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         supprimer un message
       </div>
   </div>
{% endblock %}
