{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes messages - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      <h3 class="cat-title">Mes messages</h3>
      {{ include('@SEPlatform/Message/listUserFilter.html.twig') }}
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         Mes messages
       </div>
   </div>
{% endblock %}
