{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Déposer une demande - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Déposer une demande</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
    <div class="col-md-3"></div>
       <div class="col-md-6">
         {% if app.user.isAcountComplete == 0 %}
             <div class="alert alert-warning" role="alert">
                 Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                 <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
             </div>
         {% else %}
               <div class="alert alert-info" role="alert">
                   Si vous êtes dans la proposition de services, ne postez pas une demande,
                   <br>
                   personnalisez votre page de profil en détaillant la partie <b>A propos</b> de votre compte.
               </div>
               {{ include('SEPlatformBundle:Advert:form.html.twig') }}
               <div class="alert alert-info" role="alert">
                   Après enregistrement, vous pourrez modifier la demande dans votre esapce client.
               </div>
         {% endif %}
       </div>
       <div class="col-md-3"></div>
 </div>
{% endblock %}
