{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Déposer une annonce - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Déposer une annonce</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
    <div class="col-md-3"></div>
       <div class="col-md-6">
         {% if app.user.isAcountComplete == 0 %}
             <div class="alert alert-warning" role="alert">
                 Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                 <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
             </div>
         {% else %}
               {{ include('SEPlatformBundle:Advert:form.html.twig') }}
         {% endif %}
       </div>
       <div class="col-md-3"></div>
 </div>
{% endblock %}
