{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Demande désactivée "{{advert.title}}" - {{advert.category.labelNormal}}
{% endblock %}
{% block description %}
  <meta name="description" content="Vous cherchez un autre service, postez une nouvelle demande n'oubliez pas d'évaluer le jobber" />
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div class="col-md-12">
      <h3 class="cat-title">
        Demande désactivée
    </h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
    <div class="col-md-2"></div>
       <div class="col-md-8">
         <div class="text-center">
           <div class="alert alert-info" role="alert">
             La demande que vous cherchez est désactivée, supprimée ou en cours de validation
           </div>
         </div>
       </div>
     <div class="col-md-2"></div>
   </div>
{% endblock %}
