{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes Annonces - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
    <h3 class="cat-title">Mes annonces</h3>
      {{ include('@SEPlatform/Advert/listUserFilter.html.twig') }}
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         Mes annonces
       </div>
   </div>
{% endblock %}
