<!DOCTYPE html>
<html>
    <head>
        <title>Liste des annonces en cours</title>
    </head>
    <body>
        <h1>{{ search }}</h1>
        
        <p>
            Liste des annonces en cours
        </p>
    </body>
</html>