{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Annonces en cours - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      {{ include('@SEPlatform/Advert/listFilter.html.twig') }}
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         List
       </div>
   </div>
{% endblock %}
