<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- MAIL - TITLE -->
     <title>Service Enchère</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <div>
      <p>Bonjour <b>{{ receiver }}</b></p>
      <p>Vous avez activé la demande <b>{{advert}}</b> sur le site https://www.serviceenchere.fr</p>
      <p>Elle sera visible du site dans moins de 24 heures.</p>
      <p>
        Cordialement.
      </p>
    </div>
    <br>
    <br>
    <div>
      <p>Pensez, autant que possible, à vérifier les coordonnées de votre interlocuteur
        (nom, adresse, numéro de téléphone) afin de vous assurer d'avoir un contact en
        cas de litige.
      </p>
      <p>Méfiez-vous des offres trop alléchantes ! Fuyez les demandes provenant de
        l'étranger quand vous ne disposez que d'un contact par email.
      </p>
      <p>
        Enfin, restez vigilant face au phishing : https://www.serviceenchere.fr ne vous demandera jamais
        vos données personnelles par email ou SMS (identifiant, mot de passe,
        coordonnées bancaires ...).
      </p>
      <p>
        Merci de ne pas répondre à ce message.
        Si vous souhaitez nous adresser un courriel, merci de l'envoyer à l'adresse suivante : postmaster@serviceenchere.fr
      </p>
      <p>
          Merci de votre confiance et à très bientôt,
      </p>
      <p>
          L'équipe serviceenchere
          <br>
          https://www.serviceenchere.fr
      </p>
    </div>
  </body>
</html>
