{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  (title) - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      <h3 class="cat-title">Validation en cours de votre annonce</h3>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         {% for flash_message in app.session.flashBag.get('addSuccess') %}
             <div class="alert alert-success text-center" role="alert">
                 {{ flash_message }}
             </div>
         {% endfor %}
          <div class="col-md-2"></div>
           <div class="col-md-4">
             <a href="{{ path('se_platform_homepage') }}" class="form-control btn se-btn-action">
                 Retour à l'accueil
             </a>
           </div>
          <div class="col-md-4">
            <a href="{{ path('se_platform_advert_add') }}" class="form-control btn se-btn-action">
                Déposer une autre demande
            </a>
          </div>
            <div class="col-md-2"></div>
        </div>

       </div>
{% endblock %}
