{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  (title) - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      <h3 class="cat-title">(title)</h3>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         details
       </div>
   </div>
{% endblock %}
