{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Enchérir - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="col-md-12">
      <h3 class="cat-title">Enchérir</h3>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         {% if app.user.isAcountComplete == 0 %}
               <div class="alert alert-danger" role="alert">
                   Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                   <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
               </div>
         {% else %}
           Enchérir
         {% endif %}

       </div>
   </div>
{% endblock %}
