{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Liste des enchères - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Liste des enchéres</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         Liste des enchères
       </div>
   </div>
{% endblock %}
