
    <form id="form_recherche" action="" method="get">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 filter">
                        <select class="form-control"
                                name="advert"
                                id="advert_id" >
                            <option value='0' >Toutes les demandes</option>
                            {% for auction in listAdvertAuction %}
                                <option {{ app.request.query.get('advert')== auction.advert.id ? ' selected ' : ' ' }}
                                    value={{ auction.advert.id }}>{{ auction.advert.title }}
                                </option>
                            {% endfor %}
                        </select>
                </div>

                <div class="col-md-4 filter">
                    <input class="btn btn-lg-se btn-primary" type="submit" value="Afficher"  />
                </div>
                <div class="col-md-4 filter">
                  <a href="{{ path('se_platform_auction_user_send') }}"
                            type="button" class="btn btn-lg-se btn-primary" >
                             Réinitialiser
                  </a>
                </div>
              </div>
        </div>
    </form>
