{% trans_default_domain 'FOSUserBundle' %}
{% extends 'SEPlatformBundle::layout.html.twig' %}

{% block title %}
    Bienvenue sur Service Enchère - Votre mail est vérifié
{% endblock %}
{% block description %}
  <meta name="description" content="Je demande des services d'aides sur Service Enchhère, soins, coiffure" />
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Vérification d'adresse mail</h3>
  </div>
</div>
{% endblock %}

{% block layout_body %}

<div class="row">
    <div class="col-md-12 text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
            {% block fos_user_content %}
              <div class="alert alert-success" role="alert">
                  <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
              </div>
              <div class="alert alert-info" role="alert">
                  Pour pouvoir utiliser le site, merci de compléter votre profil.
              </div>
            {% endblock fos_user_content %}

        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">
            Compléter mon profil
        </a>
      </div>
      <div class="col-md-3"></div>
      </div>
</div>

{% endblock %}
