{% trans_default_domain 'FOSUserBundle' %}
{% extends 'SEPlatformBundle::layout.html.twig' %}

{% block title %}
    Vérification d'adresse mail - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Vérification d'adresse mail</h3>
  </div>
</div>
{% endblock %}

{% block layout_body %}

<div class="row">
    <div class="col-md-12 text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
            {% block fos_user_content %}
            <div class="alert alert-success" role="alert">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            </div>
            <div class="alert alert-warning" role="alert">
                Pour pouvoir utiliser le site, merci de compléter votre profil <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >ici</a>
            </div>
            {% endblock fos_user_content %}
        </div>
        <div class="col-md-3"></div>
      </div>
</div>

{% endblock %}
