{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block se_layout_body %}
    <div class="index-container" >
        <div class="row">
            {% block se_user %}

            {% endblock se_user %}
        </div>
    </div>

{% endblock %}