{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mon compte - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
      <h3 class="cat-title">Modifier mon compte</h3>
{% endblock %}

{% block layout_body %}

      <div class="col-md-3"></div>
      <div class="col-md-6">
          {% for flash_message in app.session.flashBag.get('updateSuccess') %}
              <div class="alert alert-success text-center" role="alert">
                  {{ flash_message }}
              </div>
          {% endfor %}
          {% for flash_message in app.session.flashBag.get('updateError') %}
              <div class="alert alert-danger text-center" role="alert">
                  {{ flash_message }}
              </div>
          {% endfor %}
        </div>
        <div class="col-md-3"></div>


            {% block fos_user_content %}
            {% if app.user.isAcountComplete == 0 %}
            <div class="col-md-3"></div>
               <div class="col-md-6">
                  <div class="alert alert-warning" role="alert">
                      Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                      compléter
                  </div>
                </div>
                <div class="col-md-3"></div>
              {% endif %}
                {% include "@FOSUser/Profile/edit_content.html.twig" %}
            {% endblock fos_user_content %}

{% endblock %}
