{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mon compte - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
    <h3 class="cat-title">Mon compte</h3>
{% endblock %}

{% block layout_body %}

  <div class="row">
      {% block fos_user_content %}

      {% if user.isAcountComplete == 0 %}
            <div class="alert alert-danger" role="alert">
                Le profil de <b>{{ user }}</b> n'est pas complet,
                si vous êtes <b>{{ user }}</b> merci de le
                <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter.</a>
            </div>
      {% else %}
          {% include "@FOSUser/Profile/show_content.html.twig" %}
        {% endif %}

      {% endblock fos_user_content %}
  </div>

{% endblock %}
