{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Profil de {{user}} - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Profil de {{user}}</h3>
  </div>
</div>
{% endblock %}

{% block layout_body %}

  <div class="row">

  </div>
  <div class="row">
    <div id="content" class="col-md-12">
        <div class="col-md-12">
          {% block fos_user_content %}
              {% include "@FOSUser/Profile/view_content.html.twig" %}
          {% endblock fos_user_content %}
        </div>
    
     </div>
  </div>

{% endblock %}
