{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Mes commentaires - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

    <div class="well slogan-well">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="cat-title">Mes commentaires</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                 <div id="content" class="col-md-12">
                     <h4 class="cat-title">{{countComment}} commenrtaires</h4>
                        {% for comment in listComment %}
                            {{ include('@SEAuction/Comment/item.html.twig') }}
                        {% else %}
                            <div>Pas (encore !) de commentaire</div>
                        {% endfor %}
                 </div>
            </div>
        </div>
    </div>
    {{ include('@SEAuction/Commun/pagination.html.twig') }}
                    
{% endblock %}
