{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.isAcountComplete == 0 %}
        <div class="alert alert-danger" role="alert">

            Bonjour {{ app.user.username }}, Votre profile n'est pas complet, merci de le compléter
            <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >ICI</a>
        </div>
    {% endif %}
    {% block se_layout_body %}

    {% endblock %}

{% endblock %}