{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Conditions Générales de Ventes - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

    <div class="panel-body">
        <h4 class="cat-title">Conditions Générales de Ventes</h4>
    </div>

    <div class="index-container" >
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

{% endblock %}



