{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Qui sommes-nous ? - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

    <div class="well slogan-well">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="cat-title">Qui sommes nous?</h3>
            </div>
        </div>
    </div>

    <div class="index-container" >
        <div class="row">
            <div class="col-md-12">
                TODO
            </div>
        </div>
    </div>

{% endblock %}



