{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}


    
    <!-- <div class="container">
        BODY 
        <div class="row">
            <div id="content" class="col-md-12">-->
                {% block se_layout_body %}
                {% endblock %}
        <!--    </div>
        </div>
    </div>-->
                    
{% endblock %}
